body{
    height: 100vh;
}


.h-100-p {
    height: 100%;
}


ul.no-bullets {
    list-style-type: none; /* Remove bullets */
}


.img-15vh {
    height: 15vh;
}
.img-20vh {
    height: 20vh;
}
.img-30vh {
    height: 30vh;
}


.round-marks {
    background: #7F00FF;
    border-radius: 6px;
    padding: 5px 12px;
    color: white;
    font-size: 12px;
}
